.inner {
	text-align: center;
}
	.inner p.welcome {
		width: 910px;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

.mapContainer {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}
	.mapLabels {
		position: absolute;
		z-index: 50;
		text-align: center;
	}
		.mapLabels p {
			position: absolute;
			font-size: 18px;
			font-weight: bold;
			text-shadow:1px 1px 2px #eee;
			cursor: pointer;
		}
		.mapLabels p:nth-child(1) {
			top: 370px;
			left: 65px;
		}
		.mapLabels p:nth-child(2) {
			top: 150px;
			left: 70px;
		}
		.mapLabels p:nth-child(3) {
			top: 100px;
			left: 180px;
		}
		.mapLabels p:nth-child(4) {
			top: 400px;
			left: 180px;
		}
		.mapLabels p:nth-child(5) {
			top: 100px;
			left: 330px;
		}
		.mapLabels p:nth-child(6) {
			top: 300px;
			left: 345px;
		}
		.mapLabels p:nth-child(7) {
			top: 150px;
			left: 500px;
		}
		.mapLabels p:nth-child(8) {
			top: 360px;
			left: 650px;
		}
		.mapLabels p:nth-child(9) {
			top: 280px;
			left: 780px;
		}

.map {
	position: absolute;
	z-index: 1;
}
	a.rollOver:hover {
		opacity: 0.7;
		fill:#fff;
		cursor: pointer;
	}