@import url(http://fonts.googleapis.com/css?family=Lato);
* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Lato', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
}

h3 {
  color: #17416b;
  margin-bottom: .5em;
}

p {
  margin-bottom: 1em;
}

a {
  color: #ee3355;
}

.header-main {
  background: #17416b;
  padding: 1em 0;
  color: #fff;
}
.header-main h2 {
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
}

.content-wrap {
  padding: 1em 0;
}
.content-wrap h2 {
  margin-bottom: 1rem;
  color: #17416b;
}

.inner {
  margin: 0 auto;
  width: 95%;
}
.banner {
  padding: .5em;
}

.exhibit-item {
  list-style: none;
  margin-bottom: 1em;
}

.exhibit-item label:before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: #ee3355;
  top: 0;
  left: 0;
}

.exhibit-item label {
  padding: .5em 1.5em;
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
  min-width: 30em;
  cursor: pointer;
}

.exhibit-item label input {
  position: absolute;
  left: .5em;
  top: .5em;
  cursor: pointer;
}

.exhibit-item label img {
  vertical-align: middle;
}

.btn {
  border-radius: .3em;
  padding: 1.2em 0;
  cursor: pointer;
  font-size: 1.3em;
  width: 33rem;
  border: 0;
  color: #fff;
  background: #17416b;
}

.btn:hover {
  background: #205a95;
}

.btn:active {
  background: #123456;
}

#genTour, #socMedia {
  display: none;
}

.soc-media ul {
  list-style: none;
  margin-bottom: 2em;
}
.soc-media ul li {
  margin-bottom: .5em;
}
.soc-media ul li label {
  display: inline-block;
  text-align: right;
  width: 6.5em;
}
