* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Lato', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: normal;
}

h2 {
  margin-bottom: 1rem;
  color: #1e225d;
}

p {
  margin-bottom: 1em;
}

a {
  color: #ff6083;
}

.header-main {
  background: #335599;
  padding: 1em 0;
  color: #fff;
}

.content-wrap {
  padding-top: .5em;
}

.inner {
  margin: 0 auto;
  width: 95%;
}

.exhibit-item {
  list-style: none;
  margin-bottom: 1em;
}

.exhibit-item label {
  padding: .5em 1em;
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
}

.exhibit-item label input {
  position: absolute;
  left: .5em;
  top: .5em;
}

.exhibit-item label img {
  vertical-align: top;
}

.btn {
  border-radius: .3em;
  padding: 1em;
  border: 0;
  color: #fff;
  background: #1e225d;
}

.btn:hover {
  background: #2f336e;
}
