@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/base\.scss}line{font-family:\000031}}
* { margin: 0; padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/base\.scss}line{font-family:\000033}}
body { font: 16px 'Lato', Helvetica, Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/base\.scss}line{font-family:\000037}}
h1 { font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/base\.scss}line{font-family:\0000311}}
h2 { margin-bottom: 1rem; color: #17416b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/base\.scss}line{font-family:\0000316}}
p { margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/base\.scss}line{font-family:\0000320}}
a { color: #ee3355; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/global\.scss}line{font-family:\000031}}
.header-main { background: #17416b; padding: 1em 0; color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/global\.scss}line{font-family:\000037}}
.content-wrap { padding: .5em 0 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/global\.scss}line{font-family:\0000311}}
.inner { margin: 0 auto; width: 95%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\000031}}
.exhibit-item { list-style: none; margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\000036}}
.exhibit-item label:before { content: ""; position: absolute; height: 25px; width: 25px; background: #ee3355; top: 0; left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\0000316}}
.exhibit-item label { padding: .5em 1em .5em 1.5em; position: relative; border: 1px solid #ccc; display: inline-block; min-width: 30em; cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\0000325}}
.exhibit-item label input { position: absolute; left: .5em; top: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\0000330}}
.exhibit-item label img { vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\0000334}}
.btn { border-radius: .3em; padding: .5em; font-size: 1.3em; border: 0; color: #fff; background: #17416b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\0000343}}
.btn:hover { background: #1c4e80; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/HackTheHenry\/css\/sass\/exhibit-listing\.scss}line{font-family:\0000347}}
.btn:active { background: #0e2741; }
