* {margin: 0; padding: 0;}

body {
  font: 16px 'Lato', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: normal;
}

h2 {
  margin-bottom: 1rem;
  color: $blue;
}

p {
  margin-bottom: 1em;
}

a {
  color: $pink;
}