.exhibit-item {
  list-style: none;
  margin-bottom: 1em;
}

.exhibit-item label:before {
  content: "";
  position: absolute;
  height: 25px;
  width :25px;
  background: $pink;
  top: 0;
  left: 0;
}

.exhibit-item label {
  padding: .5em 1em .5em 1.5em;
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
  min-width: 30em;
  cursor: pointer;
}

.exhibit-item label input {
  position: absolute;
  left: .5em; top: .5em;
}

.exhibit-item label img { 
  vertical-align: top; 
}

.btn {
  border-radius: .3em;
  padding: .5em;
  font-size: 1.3em;
  border: 0;
  color: #fff;
  background: $blue;
}

.btn:hover {
  background: lighten($blue, 5%);
}

.btn:active {
  background: darken($blue, 10%);
}